.post_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 99%;
}

.post_content {
  display: flex;
  align-items: center;
  border: 2px solid blueviolet;
  margin: 10px 35px;
  padding: 10px 15px;
}

.post_btns {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
